<ion-header slot="top">
  <ion-row>
    <ion-title>Welcome Greg</ion-title>
  
  </ion-row>
</ion-header>
<ion-row>
  <ion-card slot="center">
    <ion-card-header>
      <ion-card-title>Let's start investing</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Show me my assets</ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-row><ion-row>
  <ion-card>
    <ion-card-header>
      <ion-card-title>View my transactions</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>View my documents</ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-row>



<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="apps-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="funds">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="transactions">
      <ion-icon name="reload-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="help">
      <ion-icon name="help-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
